@import url("https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext");
/* Variables */
/* Global */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: #232323;
  font-family: "Source Sans Pro", sans-serif;
  color: #444;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section-title {
  font-size: 22px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  letter-spacing: 5px;
  color: #444;
  text-align: center;
}

.section-title span {
  text-transform: none;
  font-weight: 400;
  color: #777777;
}

a {
  text-decoration: none;
  color: #444;
  transition: all 0.6s;
}

/* Layout */
.wrapper {
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
}

.sidebar {
  -ms-flex: 1 0 0px;
      flex: 1 0 0;
}

.posts {
  -ms-flex: 2 0 0px;
      flex: 2 0 0;
  min-height: 650px;
}

.sidebar, .posts {
  background: #dfdfdf;
  margin-right: 15px;
  padding: 40px;
  border-radius: 10px;
  position: relative;
  box-shadow: 2px 2px 3px #dfdfdf;
  margin-bottom: 50px;
}

/* Logo */
.logo {
  font-family: "Sacramento", cursive;
  font-weight: 400;
  font-size: 96px;
  line-height: 1;
  text-align: center;
  color: #1b9cfc;
}

/* Lists */
.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list li {
  padding: 0 5px;
  letter-spacing: 1px;
}

.list li:hover {
  transform: scale(1.2);
  display: inline-block;
}

.list .active {
  font-weight: bold;
  margin-left: 50px;
  transition: all 0.6s;
}

.list-horizontal li {
  display: inline-block;
}

/* Post */
.post {
  opacity: 0;
  z-index: 0;
  transition: all .1s;
  position: absolute;
  padding-right: 20px;
}

.post p {
  margin: 0 20px 0 0;
}

.post.active {
  opacity: 1;
  z-index: 1;
  transition: all .9s;
}

.post-title {
  font-size: 22px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  letter-spacing: 5px;
  color: #444;
  text-align: center;
}

.post-author {
  font-style: italic;
}

.post-tags {
  display: -ms-flexbox;
  display: flex;
}

/* Tags */
.tags {
  padding: 2px;
  text-align: right;
}

.tags li {
  display: inline-block;
}

.tag-size-1 {
  font-size: 22px;
  color: #853a85;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 1px 1px 3px black;
}

.tag-size-3 {
  font-size: 28px;
  color: #2cc960;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 1px 1px 3px black;
}

.tag-size-5 {
  font-size: 34px;
  color: #ff7675;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 1px 1px 3px black;
  text-align: right;
}

/* Authors */
.authors {
  text-align: right;
}

.authors li {
  margin-bottom: 12px;
}

/* Media */
@media (max-width: 767px) {
  body {
    font-size: 17px;
    line-height: 1.5;
  }
  .wrapper {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .sidebar, .posts {
    padding: 10px;
    margin-top: 10px;
  }
  .posts {
    text-align: justify;
    min-height: 800px;
  }
  .tags, .authors {
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 17px;
    line-height: 1.5;
  }
  .wrapper {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .sidebar, .posts {
    padding: 10px;
    margin-top: 10px;
  }
  .posts {
    text-align: justify;
    min-height: 450px;
  }
  .list li {
    display: inline-block;
  }
  .list .active {
    font-weight: bold;
    background: #1b9cfc;
    margin-left: 0;
    padding: 1px 2px;
    border-radius: 10px;
  }
  .tags, .authors {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */