@import url('https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext');

/* Variables */

$color-light: #fff;
$color-dark: #444;
$color-background: #232323;
$color-green: #177737;

$font-logo: 'Sacramento', cursive;
$font-header: 'Oswald', sans-serif;
$font-text: 'Source Sans Pro', sans-serif;

/* Global */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: $color-background;
  font-family: $font-text;
  color: $color-dark;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section-title {
  font-size: 22px;
  text-transform: uppercase;
  font-family: $font-header;
  font-weight: 600;
  
  span {
    text-transform: none;
    font-weight: 400;
    color: lighten($color-dark, 20%);
  }
}

a {
  text-decoration: none;
  color: $color-dark;
}

/* Layout */

.wrapper {
  display: flex;
  margin-left: 10px;
}

.sidebar {
  flex: 1 0 0;
}

.posts {
  flex: 2 0 0;
}

.sidebar, .posts {
  background: $color-light;
  margin-right: 10px;
  padding: 40px;
  border-radius: 10px;
  position: relative;
  min-height: 700px;
}

/* Logo */

.logo {
  font-family: $font-logo;
  font-weight: 400;
  font-size: 104px;
  line-height: 1;
  text-align: center;
  color: $color-green;
}

/* Lists */

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
  li {
    padding-left: 5px;
    
    &:hover {
      border-left: 2px solid $color-green;
    }
  }

  .active {
    font-weight: bold;
    margin-left: 25px;
  }
}

.list-horizontal {
  li {
    display: inline-block;
  }
}

/* Authors */

.authors {
  li {
    margin-bottom: 12px;
  }
}

/* Post */

.post {
  opacity: 0;
  z-index: 0;
  transition: all .1s;
  position: absolute;
  padding-right: 20px;
  
  p {
    margin: 0 20px 0 0;
  }
  
  &.active {
    opacity: 1;
    z-index: 1;
    transition: all .8s;
  }
}

.post-author {
  font-style: italic;
}

.post-tags {
  display: flex;
}

/* Media */

@media (max-width: 767px) {
  body {
    font-size: 17px;
    line-height: 1.3;
  }

  .wrapper {
    flex-direction: column;        
  }

  .sidebar, .posts {
    padding: 20px;
    min-height: 900px;
    margin-top: 20px;
  }

  .sidebar {
    min-height: 450px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 17px;
    line-height: 1.7;
  }

  .wrapper {
    flex-direction: column;       
  }

  .posts, .sidebar {
    padding: 20px;
    min-height: 500px;
    margin-top: 20px;
  }

  .sidebar {
    min-height: 300px;
    
    &:first-child {
      min-height: 175px;
    }
  }
  
  .list {
    li {
      display: inline-block;
      margin-right: 50px;
      
      &:hover {
        border: none;
      }
      
      .active {
        font-weight: bold;
        margin-left: 0;
        border-bottom: 2px solid $color-green;
      }
    }
  }
}